<div class="profile">
  <div class="container">
    <div class="user-profile-item">

      <div class="user-image">
        <% if @user.image_name %>
          <img src="<%= "/user_images/#{@user.image_name}" %>">
        <% else %>
          <img src="/user_images/default.jpg">
        <% end %>
      </div>

      <div class="user-name">
        <%= @user.user_name %>
      </div>

        <div class="user-introduction">
          <p><%= @user.introduction %></p>
        </div>

      <% if session[:user_id] %>
        <% if @current_user.id == params[:id].to_i %>
          <div class="show-btns">
              <div class="update-btn">
                <%= link_to("編集", "/users/#{@current_user.id}/updateform") %>
              </div>

            <div class="destroy-btn">
              <%= link_to("削除", "/users/#{@current_user.id}/destroy", {method: "post"}) %>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>